/**
 * Navbar styles
 *
 * @author Noah Trimble
 */
.navbar {
  .dropdown-menu {
    min-width: 200px;

    .dropdown-item,
    .nav-descriptor {
      padding: @brand__indent__small;
      margin: 0;
    }

    .nav-descriptor {
      color: @brand__font-color__disabled;
    }
  }
}
