<!--
/**
 * Flooring add/edit form page
 *
 * @package flooring
 * @author Noah Trimble, Will Duke
 */
-->
<!-- title, which will change depending on whether it is the add or edit page-->
<div class="panel-heading">
  <h2>{{title}}</h2>
</div>
<div class="panel-actions">
  <!-- form component for the submit button -->
  <button type="submit" class="btn btn-primary panel-action" form="flooring-form">Save</button>
</div>
<div class="panel-body">
  <div class="form-container">
    <!-- the ngSubmit calls on the data from the ngModel, which is required. The ngModel automatically populates the flooring object with relevant data-->
    <form #flooringForm="ngForm" (ngSubmit)="flooringForm.valid && onSubmit()" id="flooring-form">
      <!-- form component for the flooring's name -->
      <div class="form-group">
        <mat-form-field>
          <mat-label>Flooring Type</mat-label>
          <mat-select [(ngModel)]="flooring.name" name="name" (ngModelChange)="changeType()">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div *ngIf="name.invalid && (name.dirty || name.touched || flooringForm.submitted)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            This field is required.
          </div>
        </div> -->
        <br>

        <label for="name">Flooring Style</label>
        <input type="text" class="form-control" id="style" [(ngModel)]="flooring.style" name="style"
          #style="ngModel" [required]="flooring.name==carpet">
        <div *ngIf="style.invalid && (style.dirty || style.touched || flooringForm.submitted)"
          class="alert alert-danger">
          <div *ngIf="style.errors.required">
            This field is required.
          </div>
        </div>
        <br>
        <label for="name">Flooring Color</label>
        <input type="text" class="form-control" id="color" [required]="flooring.name==hardwood" [(ngModel)]="flooring.color" name="color"
          #color="ngModel">
          <div *ngIf="color.invalid && (color.dirty || color.touched || flooringForm.submitted)"
          class="alert alert-danger">
          <div *ngIf="color.errors.required">
            This field is required.
          </div>
        </div>
      </div>
    </form>
  </div>
</div>