<h2 mat-dialog-title>Edit Appointment</h2>
<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>Customer First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter first name here">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Customer Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name here">
    </mat-form-field>
    <br>
</form>
<mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button-raised (click)="edit()">Add</button>
</mat-dialog-actions>