<h3 mat-dialog-title>View Appointment</h3><br>
<mat-dialog-content>
    <div><strong>Customer: </strong>{{editApp?.customer.firstName}} {{editApp?.customer.lastName}}</div>
    <div><strong>Start Date:</strong> {{editApp?.startDate}}</div>
    <div><strong>End Date:</strong> {{editApp?.endDate}}</div>
    <div><strong>RSA: </strong>{{editApp?.rsa.firstName}} {{editApp?.rsa.lastName}}</div>
    <div><strong>Flooring: </strong>{{editApp?.flooring.name}}</div><br>
</mat-dialog-content>
<mat-dialog-actions>
    <div align="center"><button mat-button (click)="cancel()">Cancel</button></div>
</mat-dialog-actions>