<!--
/**
 * Reminder error listing page
 *
 * @package reminder-error
 * @author Noah Trimble
 */
-->
<div class="panel panel-primary">
  <!-- the title for the page-->
  <div class="panel-heading">
    <h2>Reminder Error List</h2>
  </div>
  <div class="panel-actions">
    <button (click)="resendNotifications()" class="btn btn-primary panel-action">Resend Notifications</button>
  </div>
  <!-- the actual body of the page-->
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <!--column headers for the table-->
      <tr>
        <th>Appointment ID</th>
        <th>Reminder ID</th>
        <th>Error Message</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reminderError of reminderErrors | async">
        <td><a routerLink="/appointment/edit/{{reminderError.appointmentId}}" target="_blank">{{reminderError.appointmentId}}</a></td>
        <td><a routerLink="/reminder/edit/{{reminderError.reminderId}}" target="_blank">{{reminderError.reminderId}}</a></td>
        <td>{{reminderError.errorMessage}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
