<!--
/**
 * Technician add/edit form page
 *
 * @package technician
 * @author Noah Trimble
 * @modifiedBy Soumya Bagade
 */
-->
<!-- title, which will change depending on whether it is the add or edit page-->
<div class="panel-heading">
  <h2>{{title}}</h2>
</div>
<div class="panel-actions">
  <!-- form component for the submit button -->
  <button type="submit" class="btn btn-primary panel-action" form="technician-form">Save</button>
</div>
<div class="panel-body">
  <div class="form-container">
    <!-- the ngSubmit calls on the data from the ngModel, which is required. The ngModel automatically populates the technician object with relevant data-->
    <form #technicianForm="ngForm" (ngSubmit)="technicianForm.valid && onSubmit()" id="technician-form">
      <!-- form component for the technician's first name -->
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="technician.firstName"
               name="firstName" #firstName="ngModel">
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || technicianForm.submitted)"
             class="alert alert-danger">
          <div *ngIf="firstName.errors.required">
            This field is required.
          </div>
        </div>
      </div>

      <!-- form component for the technician's last name -->
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="technician.lastName"
               name="lastName" #lastName="ngModel">
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched || technicianForm.submitted)"
             class="alert alert-danger">
          <div *ngIf="lastName.errors.required">
            This field is required.
          </div>
        </div>
      </div>

      <!-- form component for the technician's email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="technician.email"
               name="email" #email="ngModel" email>
        <div *ngIf="email.invalid && (email.dirty || email.touched || technicianForm.submitted)"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">
            This field is required.
          </div>
          <div *ngIf="email.errors.email">
            Please enter a valid email.
          </div>
        </div>
      </div>

      <!-- form component for the technician's phone number -->
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" required [(ngModel)]="technician.phone"
               name="phone" #phone="ngModel" pattern="[0-9]{3}-?[0-9]{3}-?[0-9]{4}" placeholder="888-888-8888">
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched || technicianForm.submitted)"
             class="alert alert-danger">
          <div *ngIf="phone.errors.required">
            This field is required.
          </div>
          <div *ngIf="phone.errors.pattern">
            Phone number must be in one of the following formats: 888-888-8888 or 8888888888
          </div>
        </div>
      </div>

      <!-- form component for whether the technician is in house (the other option for the user is to leave it unchecked for subcontractors) -->
      <div class="form-group">
        <label for="inHouse">In House</label>
        <input type="checkbox" class="form-control" id="inHouse" [(ngModel)]="technician.inHouse" name="inHouse">
      </div>
    </form>
  </div>
</div>
