<!--
/**
 * Template listing page
 *
 * @package template
 * @author Noah Trimble
 * @author Soumya Bagade
 */
-->
<div class="panel panel-primary">
  <!-- the title for the page-->
  <div class="panel-heading">
    <h2>Template List</h2>
  </div>
  <div class="panel-actions">
    <button routerLink="/template/add" class="btn btn-primary panel-action">Add Template</button>
  </div>
  <!-- the actual body of the page-->
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <!--column headers for the table-->
      <tr>
        <th>Title</th>
        <th>Subject</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- each row of the table that is populated with data from every template (essentially a for loop going through every template and printing)-->
      <tr *ngFor="let template of templates | async">
        <td>{{template.title}}</td>
        <td>{{template.subject}}</td>
        <td>{{template.content}}</td>
        <td>
          <!-- button options for each row so that the user can edit/delete that template with a click of a button-->
          <button (click)="editTemplate(template.id)" class="btn btn-primary">Edit</button>
          <button (click)="ngxSmartModalService.getModal('deleteConfirmation').setData(template.id, true).open()"
                  class="btn btn-danger btn-delete">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Delete confirmation modal -->
<ngx-smart-modal #deleteConfirmation identifier="deleteConfirmation" class="delete-confirmation-modal confirmation-modal">
  <h2>Confirm Delete</h2>
  <p>Are you sure you want to delete this template?</p>
  <div class="actions-container">
    <div class="btn-container">
      <button (click)="deleteConfirmation.close()" class="btn btn-cancel">No</button>
    </div>
    <div class="btn-container">
      <button (click)="deleteTemplate(deleteConfirmation.getData()); deleteConfirmation.close()" class="btn btn-confirm">Yes</button>
    </div>
  </div>
</ngx-smart-modal>
