/**
 * General page styles
 *
 * @author Noah Trimble
 * @author Soumya Bagade
 */
@import 'styles/brand.less';
@import 'styles/listing.less';
@import 'styles/form.less';
@import 'styles/buttons.less';
@import 'styles/nav.less';
@import '../../node_modules/@fullcalendar/core/main.css';
@import '../../node_modules/@fullcalendar/daygrid/main.css';
@import '../../node_modules/@fullcalendar/timegrid/main.css';
@import '../../node_modules/@fullcalendar/list/main.css';
@import 'https://use.fontawesome.com/releases/v5.0.6/css/all.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.page-title {
  text-align: center;
}

.panel-actions {
  .clearfix();
  padding: @brand__indent__small;
  background-color: rgba(0,0,0,.05);
  margin-top: @brand__indent;

  .panel-action {
    float: right;
    margin-left: @brand__indent__small;
  }
}

.panel-body {
  margin-top: @brand__indent;
  margin-bottom: @brand__indent__xlarge;
}

#calendar {
    max-width: 1400px;
    margin: 0 auto;
  }