<!--
/**
 * Landing page
 *
 * @author Noah Trimble, Soumya Bagade, Will Duke
 */
-->
<div class="wrapper ">
  <!-- Sidebar -->
  <nav id="sidebar">

    <div class="sidebar-header">
      <a routerLink="appointment/calendar"><img class="logo" src=favicon.ico></a>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#userManagement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">User</a>
        <ul class="collapse list-unstyled" id="userManagement">
          <a routerLink="technician/index" ngbDropdownItem>Technician</a>
          <a routerLink="customer/index" ngbDropdownItem>Customer</a>
          <a routerLink="rsa/index" ngbDropdownItem>RSA</a>
        </ul>
      </li>
      <li class="active">
        <a href="#appointManage" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Appointment</a>
        <ul class="collapse list-unstyled" id="appointManage">
          <a routerLink="appointment/calendar" ngbDropdownItem>Calendar</a>
        </ul>
      </li>
      <li class="active">
        <a href="#installManagement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Install</a>
        <ul class="collapse list-unstyled" id="installManagement">
          <a routerLink="flooring/index" ngbDropdownItem>Flooring</a>
          <a routerLink="install/calendar" ngbDropdownItem>Calendar</a>
        </ul>
      </li>
      <li class="active">
        <a href="#notificationManagement" data-toggle="collapse" aria-expanded="false"
          class="dropdown-toggle">Notification</a>
        <ul class="collapse list-unstyled" id="notificationManagement">
          <a routerLink="template/index" ngbDropdownItem>Template</a>
          <a routerLink="reminder/index" ngbDropdownItem>Reminder</a>
          <a routerLink="reminderError/index" ngbDropdownItem>Reminder Errors</a>
        </ul>
      </li>
    </ul>
  </nav>


  <div class="container-fluid" id="#main">

    <br>

    <div class="content">
      <!-- Alert message container -->
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>