<!--
/**
 * Appointment add/edit form page
 *
 * @package appointment
 * @author Connor J. Parke
 */
-->
<!-- title, which will change depending on whether it is the add or edit page-->
<div class="panel-heading">
  <h2>{{title}}</h2>
</div>
<div class="panel-actions">
  <!-- form component for the submit button -->
  <button type="submit" class="btn btn-primary panel-action" form="appointment-form">Save</button>
</div>
<div class="panel-body">
  <div class="form-container">
    <!-- the ngSubmit calls on the data from the ngModel, which is required. The ngModel automatically populates the appointment object with relevant data-->
    <form #appointmentForm="ngForm" (ngSubmit)="appointmentForm.valid && onSubmit()" id="appointment-form">

      <!-- form component for the appointment's start datetime -->
      <div class="form-group">
        <label for="start-datetime">Start Date/Time</label>
        <input type="datetime-local" class="form-control" id="start-datetime" required
          [(ngModel)]="appointment.startDateTime" name="start-datetime" #startDateTime="ngModel">
        <div
          *ngIf="startDateTime.invalid && (startDateTime.dirty || startDateTime.touched || appointmentForm.submitted)"
          class="alert alert-danger">
          <div *ngIf="startDateTime.errors.required">
            This field is required.
          </div>
        </div>
      </div>

      <!-- form component for the appointment's end datetime -->
      <div class="form-group">
        <label for="end-datetime">End Date/Time</label>
        <input type="datetime-local" class="form-control" id="end-datetime" required
          [(ngModel)]="appointment.endDateTime" name="end-datetime" #endDateTime="ngModel">
        <div *ngIf="endDateTime.invalid && (endDateTime.dirty || endDateTime.touched || appointmentForm.submitted)"
          class="alert alert-danger">
          <div *ngIf="endDateTime.errors.required">
            This field is required.
          </div>
        </div>
      </div>

      <!-- form component for appointment's customer -->
      <div class="form-group">
        <label for="customer">Customer</label>
        <select class="form-control" id="customer" required #customer="ngModel" [(ngModel)]="appointment.customer.id"
          name="customer">
          <option *ngFor="let customerOption of customerOptions" [ngValue]="customerOption.id">
            {{customerOption.firstName}} {{customerOption.lastName}}
          </option>
        </select>
        <div *ngIf="customer.invalid &&
                    (customer.dirty || customer.touched || appointmentForm.submitted)" class="alert alert-danger">
          <div *ngIf="customer.errors.required">
            This field is required.
          </div>
        </div>
      </div>

      <!-- form component for appointment's technicians -->
      <div class="form-group">
        <label for="technicians">Technicians</label>
        <select multiple [compareWith]="technicianCompare" class="form-control" id="technicians" required #technicians="ngModel"
          [(ngModel)]="appointment.technicians" name="technicians">
          <option *ngFor="let technicianOption of technicianOptions" [ngValue]="technicianOption">
            {{technicianOption.firstName}} {{technicianOption.lastName}}
          </option>
        </select>
        <div *ngIf="technicians.invalid &&
                    (technicians.dirty || technicians.touched || appointmentForm.submitted)"
          class="alert alert-danger">
          <div *ngIf="technicians.errors.required">
            This field is required.
          </div>
        </div>
      </div>

      <!-- form component for appointment's rsa -->
      <div class="form-group">
        <label for="rsa">RSA</label>
        <select class="form-control" id="rsa" required #rsa="ngModel" 
          [(ngModel)]="appointment.rsa.id" name="rsa">
          <option *ngFor="let rsaOption of rsaOptions" [ngValue]="rsaOption.id">
            {{rsaOption.firstName}} {{rsaOption.lastName}}
          </option>
        </select>
        <div *ngIf="rsa.invalid &&
                    (rsa.dirty || rsa.touched || appointmentForm.submitted)" class="alert alert-danger">
          <div *ngIf="rsa.errors.required">
            This field is required.
          </div>
        </div>
      </div>

      <!-- form component for appointment's flooring flooring -->
      <div class="form-group">
        <label for="flooring">Flooring Category</label>
        <select class="form-control" id="flooring" required #flooring="ngModel" 
          [(ngModel)]="appointment.flooring.id" name="flooring">
          <option *ngFor="let flooringOption of flooringOptions" [ngValue]="flooringOption.id">
            {{flooringOption.name}}
          </option>
        </select>
        <div *ngIf="flooring.invalid &&
                    (flooring.dirty || flooring.touched || appointmentForm.submitted)" class="alert alert-danger">
          <div *ngIf="flooring.errors.required">
            This field is required.
          </div>
        </div>
      </div>
    </form>
  </div>
</div>