<!--
/**
 * RSA listing page
 *
 * @package rsa
 * @author Noah Trimble
 * @modifiedBy Soumya Bagade
 */
-->
<div class="panel panel-primary">
  <!-- the title for the page-->
  <div class="panel-heading">
    <h2>RSA List</h2>
  </div>
  <div class="panel-actions">
    <button routerLink="/rsa/add" class="btn btn-primary panel-action">Add RSA</button>
  </div>
  <!-- the actual body of the page-->
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <!--column headers for the table-->
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- each row of the table that is populated with data from every rsa (essentially a for loop going through every rsa and printing)-->
      <tr *ngFor="let rsa of rsas | async">
        <td>{{rsa.firstName}}</td>
        <td>{{rsa.lastName}}</td>
        <td>{{rsa.email}}</td>
        <td>{{rsa.phone}}</td>
        <td>
          <!-- button options for each row so that the user can edit/delete that rsa with a click of a button-->
          <button (click)="editRSA(rsa.id)" class="btn btn-primary">Edit</button>
          <button (click)="ngxSmartModalService.getModal('deleteConfirmation').setData(rsa.id, true).open()"
                  class="btn btn-danger btn-delete">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Delete confirmation modal -->
<ngx-smart-modal #deleteConfirmation identifier="deleteConfirmation" class="delete-confirmation-modal confirmation-modal">
  <h2>Confirm Delete</h2>
  <p>Are you sure you want to delete this RSA?</p>
  <div class="actions-container">
    <div class="btn-container">
      <button (click)="deleteConfirmation.close()" class="btn btn-cancel">No</button>
    </div>
    <div class="btn-container">
      <button (click)="deleteRSA(deleteConfirmation.getData()); deleteConfirmation.close()" class="btn btn-confirm">Yes</button>
    </div>
  </div>
</ngx-smart-modal>
