<h2 mat-dialog-title>Delete Appointment</h2>
<mat-dialog-content>
    <div><strong>Customer: </strong>{{editApp?.customer.firstName}} {{editApp?.customer.lastName}}</div><br>
    <div><strong>Start Date:</strong> {{editApp?.startDate}}</div><br>
    <div><strong>End Date:</strong> {{editApp?.endDate}}</div><br>
    <div><strong>RSA: </strong>{{editApp?.rsa.firstName}} {{editApp?.rsa.lastName}}</div>
    <div><strong>Flooring: </strong>{{getFlooringString(editApp?.flooring)}}</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button-raised (click)="delete()">Confirm</button>
</mat-dialog-actions>