<!--
/**
 * Appointment listing page
 *
 * @package appointment
 * @author Connor J. Parke
 */
-->
<div class="panel panel-primary">
  <!-- the title for the page-->
  <div class="panel-heading">
    <h2>Appointment List</h2>
  </div>
  <div class="panel-actions">
    <button routerLink="/appointment/add" class="btn btn-primary panel-action">Add Appointment</button>
  </div>
  <!-- the actual body of the page-->
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <!--column headers for the table-->
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Customer</th>
        <th>Technicians</th>
        <th>RSA</th>
        <th>Flooring Type</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- each row of the table that is populated with data from every appointment (essentially a for loop going through every appointment and printing)-->
      <tr *ngFor="let appointment of appointments | async">
        <td>{{appointment.startDateTime | date : "short"}}</td>
        <td>{{appointment.endDateTime | date: "short"}}</td>
        <td>{{appointment.customer?.firstName}} {{appointment.customer?.lastName}} </td>
        <td>
          <div *ngFor="let technician of appointment.technicians">{{technician?.firstName}} {{technician?.lastName}}</div>
        </td>
        <td>{{appointment.rsa?.firstName}} {{appointment.rsa?.lastName}}</td>
        <td>{{appointment.flooring?.name}}</td>
        <td>
          <!-- button options for each row so that the user can edit/delete that appointment with a click of a button-->
          <button (click)="editAppointment(appointment.id)" class="btn btn-primary">Edit</button>
          <button (click)="ngxSmartModalService.getModal('deleteConfirmation').setData(appointment.id, true).open()"
                  class="btn btn-danger btn-delete">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Delete confirmation modal -->
<ngx-smart-modal #deleteConfirmation identifier="deleteConfirmation" class="delete-confirmation-modal confirmation-modal">
  <h2>Confirm Delete</h2>
  <p>Are you sure you want to delete this appointment?</p>
  <div class="actions-container">
    <div class="btn-container">
      <button (click)="deleteConfirmation.close()" class="btn btn-cancel">No</button>
    </div>
    <div class="btn-container">
      <button (click)="deleteAppointment(deleteConfirmation.getData()); deleteConfirmation.close()" class="btn btn-confirm">Yes</button>
    </div>
  </div>
</ngx-smart-modal>
